@import "tailwindcss";

* {
  user-select: none;
}

.auth {
    background: url(../public/background.png);
    background-size: cover;
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-corner {
    display: none;
}

body {
  background-color: #f1f4f8;
}

.primary, .active {
  background-color: #fecf3e !important;
}

.do-sidebar.opened {
  width: 25rem;
}

.sidebar-welcome.collapsed {
  opacity: 0;
}

.do-sidebar:hover .sidebar-collapse-btn {
  left: 22.15rem;
}

.do-section-box {
  display: flex;
  height: 83vh;
  background-color: var(--color-gray-200);
  width: 100%;
  border-radius: var(--radius-4xl);
  margin: calc(var(--spacing) * 4);
}