@import "tailwindcss";

* {
  user-select: none !important;
  font-family: "Roboto";
}

.auth {
    background-size: cover;
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-corner {
    display: none;
}

html {
    background-color: #fff;
opacity: 0.8;
background-image: radial-gradient(#adadad 0.6px, #fff 0.8px);
background-size: 18px 18px;
}

body {
}

.primary, .active {
  background-color: var(--color-yellow-200) !important;
  border: 2px solid var(--color-yellow-400);
}

.do-sidebar.opened {
  width: 25rem;
}

.sidebar-welcome.collapsed {
  opacity: 0;
}

.do-sidebar:hover .sidebar-collapse-btn {
  left: 22.15rem;
}

.do-section-box {
  display: flex;
  height: 88vh;
  background-color: var(--color-gray-200);
  width: 100%;
  border-radius: var(--radius-4xl);
  margin: calc(var(--spacing) * 4);
}

.project-content {
  box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.651);
}

.dots-bg {
  background-image: radial-gradient(#adadad77 0.6px, transparent 0.8px);
background-size: 8px 8px;
}
.dots-log {
      background-color: #fff;
opacity: 0.8;
background-image: radial-gradient(#5d5d5d 0.6px, #fffefb 0.8px);
background-size: 18px 18px;
}